:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white:#FFFFFF;
    --basic-gray: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-gray-light: #E5E5E5;
    --special-gray-basic: #EBEBEB;
    --special-gray-dark: #D9D9D9;
    --special-gray-light: #EAEAEA;
    --special-gray-xlight: #F2F2F2;
    --special-yellow: #F7E296;
    --special-yellow-dark: #F0C52E;
    --special-red-light: #F6DADA;
    --special-green: #91C92F;
  }